@{
    ViewBag.Title = "Contact";
    ViewBag.ContentTitle = "Contact Me";
    ViewBag.ContentSubtitle = "Here's a way to reach me :)";
}

<div class="col-md-10 col-lg-8 col-xl-7">
    <h2>@ViewBag.Title.</h2>
    <address>
        Jl. Danau Sampang No.40<br />
        Tegallega, Kecamatan Bogor Tengah, Kota Bogor, Jawa Barat<br />
        16129 <br />
        <abbr title="Phone">P:</abbr>
        +6285716570998
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:pinedaprima12@gmail.com">pinedaprima12@gmail.com</a><br />
    </address>
</div>